* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Loader */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}
.image-container a {
  display: block;
}
.image-container img {
  width: 100%;
  margin-top: 10px;
  display: block;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}
